/*MAIN*/


.App {
  text-align: center;
}

.bee-icon {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%
}

#bee-container { 
  margin: 0;
  padding: 0 30px 30px 0;
  width: 35%; 
  z-index: 9;
}

@keyframes flutter {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: rotate(-45deg) translateX(-330px) translateY(180px);
  }
}

@-webkit-keyframes flutter {
  from {
    -webkit-transform: translateX(0) translateY(0);
  }
  to {
    -webkit-transform: rotate(-45deg) translateX(-330px) translateY(180px);
  }
}

#leftwing_1_,
#rightwing  {
  animation: flutter 0.07s infinite alternate;
  -webkit-animation: flutter 0.07s infinite alternate;
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@-webkit-keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

#head,
#eye,
#upperbody,
#abdomen {
  animation: float 0.7s infinite alternate;
  -webkit-animation: float 0.7s infinite alternate;
}

@keyframes wobble {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(-10px) translateY(-10px);
  }
}

@-webkit-keyframes wobble {
  from {
    -webkit-transform: translateX(0) translateY(0);
  }
  to {
    -webkit-transform: translateX(-10px) translateY(-10px);
  }
}

#frontleg,
#middleleg,
#backleg,
#leftantenna {
  animation: wobble 0.7s infinite alternate;
  -webkit-animation: wobble 0.7s infinite alternate;
}

@keyframes wobbleright {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: rotate(5deg) translateX(20px) translateY(-30px);
  }
}

@-webkit-keyframes wobbleright {
  from {
    -webkit-transform: translateX(0) translateY(0);
  }
  to {
    -webkit-transform: rotate(5deg) translateX(20px) translateY(-30px);
  }
}

#rightantenna {
  animation: wobbleright 0.7s infinite alternate;
  -webkit-animation: wobbleright 0.7s infinite alternate;
}

.hive {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

.comb-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30%;
}

.nav-comb {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30%;
}

.nav-comb .comb-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.row {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-top: -20px;
  width: 100%;
}

.middle-hive {
  margin-left: -30%;
}

svg {
  height: 100%;
  filter: drop-shadow( 4px 2px 4px rgba(0,0,0,0.3));
  width: 100%;
}

polygon {
  fill: none;
  stroke: #fbb03b;
  stroke-width: 10;
  stroke-miterlimit: 10;
}

@keyframes honey {
  from {
    transform: translate(300px, 300px) scale(0);
  }
  to {
    transform: translate(0, 0) scale(1) ;
  }
}

.honey {
  stroke: transparent;
}

.comb-fill {
  fill: url(#honey-fill) !important;
  animation: honey 1s 1 linear;
  animation-timing-function: cubic-bezier(.2, .4, .1, .4);
}

.selected {
  color: #ffffff !important;
}

.nav-comb {
  position: relative;
}

a.nav-link {
  color: #1a1a1a;
  font-size: 1.5rem;
  font-weight: 700;
  height: 100%;
  letter-spacing: 1px;
  margin: 0;
  padding-top: 35%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.fade-enter {
  height: 0px;
  opacity: 0;
}

.fade-enter.fade-enter-active {
  height: 100%;
  opacity: 1;
  transition: height 500ms 0ms ease-in, opacity 500ms ease-in-out;
}

.fade-exit {
  height: 100%;
  opacity: 1;
}

.fade-exit.fade-exit-active {
  height: 0px;
  opacity: 0;
  transition: height 500ms 500ms ease-in, opacity 500ms ease-in-out;
}

.content {
  width: 80%;
}

.content-wrapper,
.about-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 60px 0;
}

.sideNavHide {
  display: none;
}

.sideNav {
  display: none;
}


/*ORDER*/


nav {
  width: 100%;
}

.order-section {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding-bottom: 100px;
  width: 90%;
}

.itemFigure {
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.itemImage {
  width: 100%;
}

.order-data {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding-top: 50px;
  width: 100%;
}

.selectionBox {
  margin: 50px 0;
  width: 100%;
}

.option {
  font-size: 1rem;
  width: 50%;
}

.quantity {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.quantity-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.quantity-shirts {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.quantityBtn {
  background-color: #fbb03b;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 2px rgba(0,0,0,0.3);
  color: #ffffff;
  font-size: 1.5rem;
  height: 30px;
  width: 30px;
  padding: 0;
}

#addBtn {
  background-color: #fbb03b;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px rgba(0,0,0,0.3);
  color: #ffffff;
  font-size: 1.5rem;
  height: 50px;
  letter-spacing: 1.5px;
  margin: 30px 0 50px 0;
  width: 100%;
}

.accredit {
  color: #CCCCCC;
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
}

.accredit a {
  color: #B3B3B3;
  text-decoration: none;
}

.honeypotFigure {
  margin: 0 0 10px 30px;
  width: 10%;
}

.honeypotImage {
  display: none;
  width: 100%;
}

.honeypotActive {
  display: block !important;
}


/*ABOUT*/


.about-section {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding-bottom: 30px;
}

.aboutFigure {
  align-items: center;
  display: flex;
  justify-content: center;
  height: auto;
  margin: 0 0 60px 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.about-photo {
  width: 100%;
}

.title-first {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
}

.title-second {
  color: #fbb03b;
  font-family: 'Tangerine', cursive;
  font-size: 1.825rem;
  line-height: 1;
  padding: 0 5px;
}

.about-text {
  letter-spacing: 1px;
  line-height: 2;
  margin: 0;
  padding: 0 0 60px 0;
}


/*CONTACT*/


.contact-info,
.sign-up {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}

.sign-up {
  padding-top: 60px;
}

.contact-info h1,
.sign-up h1 {
  width: 100%;
}

.social-network {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.social-media {
  color: #1a1a1a;
}

.email-container {
  position: relative;
  width: 100%;
}

input[type = 'email'] {
  border: 1px solid #1a1a1a;
  height: 40px;
  width: 100%;
}

#emailBtn {
  background-color: #fbb03b;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px rgba(0,0,0,0.3);
  color: #ffffff;
  height: 30px;
  letter-spacing: 3px;
  position: absolute;
  top: 7px;
  left: 80%;
  width: 50px;
}

.contact-address {
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 2;
  padding: 30px 0;
  text-align: center;
  width: 60%;
}

.contact-address a {
  color: #1a1a1a;
  text-decoration: none;
}

.social-network {
  padding: 20px 0 40px 0;
}

.mailing-list {
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0;
  padding: 30px 0;
  text-align: center;
  width: 60%;
}


  @media only screen and (min-width: 650px) {


    /*HIVE*/

    .hive {
      width: 80%;
    }

    a.nav-link {
      font-size: 1.875rem;
    }


    /*ORDER*/


    .order-section {
      padding: 100px 0;
      width: 75%;
    }

    .itemFigure {
      width: 80%;
    }


    /*ABOUT*/


    .about-text {
      font-size: 1.25rem;
    }

    .title-first {
      font-size: 1.875rem; 
    }

    .title-second {
      font-size: 2.25rem;
    }


    /*CONTACT*/


    .contact-info,
    .sign-up {
      width: 80%;
    }

    .sign-up {
      padding: 50px 0 25px 0;
    }

    .contact-info h1,
    .sign-up h1 {
      margin: 0;
    }

    #emailBtn {
      left: 85%;
    }

  }

  @media only screen and (min-width: 768px) {


    /*HIVE*/


    .bee-icon {
      margin: -30px 0;
    }

    #bee-container {
      padding: 0 15% 5% 0;
      width: 100px; 
    }

    .hive {
      margin: 0 0 0 35%;
      width: 400px;
    }

    .honeypotFigure {
      width: 35px;
    }

    a.nav-link {
      font-size: 1.5rem;
    }

    .content {
      margin-left: -50%;
      width: 120%;
    }

    .content-wrapper {
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
    }


    /*ORDER*/


    .order-section {
      justify-content: space-between;
      padding-bottom: 200px;
      width: 100%;
    }

    .itemFigure {
      width: 45%;
    }

    .order-data {
      padding-top: 0;
      width: 40%;
    }

    .selectionBox {
      margin: 20px 0;
    }

    .honeypotFigure {
      margin: 0 0 10px 50px;
    }

    #addBtn {
      font-size: 1.25rem;
      height: 50px;
      margin: 30px 0 15px 0; 
    }

    .accredit {
      font-size: 0.25rem;
    }


    /*ABOUT*/


    .about-section {
      flex-flow: row wrap;
      padding-bottom: 90px;
    }

    .aboutFigure {
      width: 60%;
    }

    .about-text {
      width: 60%;
    }


    /*CONTACT*/

    
    .contact-info,
    .sign-up {
      align-items: flex-start;
      width: 45%;
    }

    .sign-up {
      padding: 0;
    }

    .contact-address,
    .mailing-list {
      font-size: 1.125rem;
      width: 80%;
    }

    .social-network {
      padding: 50px 0;
    }

    input[type ='email'] {
      height: 45px;
    }

    #emailBtn {
      font-size: 1.125rem;
      height: 35px;
      left: 75%;
      width: 60px;
    }

  }

  @media only screen and (min-width: 1200px) {


   /*HIVE*/


    main {
      width: 50%;
    }

    #content-container {
      width: 90%;
    }

    #bee-container {
      margin-top: 0;
      padding: 0 30px 0 0;
      width: 20%;
    }

    a.nav-link {
      font-size: 1.8rem;
    }


    .sideNavHide {
      display: none;
    }

    .sideNav {
      display: block;
    }

    .sideNav ul {
      align-items: flex-start;
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      height: 400px;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 475px;
      left: 20px;
      list-style: none; 
      width: 20px;
    }

    .sideLink {
      align-items: center;
      display: flex;
      justify-content: center;
      color: #1a1a1a;
      width: 20px;
    }


    /*ORDER*/

    .content-wrapper {
      justify-content: space-around;
      padding: 120px 0;
      position: relative;
      top: 0;
      left: -600px;
      width: 1000px;
    }

    .itemFigure {
      width: 25%;
    }

    .honeypotFigure {
      margin: 10px 0px 10px 30px;
      width: 7%;
    }

    .order-data {
      width: 30%;
    }

    .selectionBox {
      font-size: 1rem;
      margin: 50px 0;
    }

    #addBtn {
      font-size: 1.5rem;
      height: 50px;
      margin: 50px 0 0 0;
    }

    .accredit {
      font-size: 0.5rem;
      padding-top: 50px; 
      width: 100%;
    }

    .shirtsFigure {
      height: 370px;
      padding: 0;
      width: 35%;
    }

    .quantity-shirts {
      font-size: 1rem;
      width: 250px;
    }

    .mugFigure {
      height: 270px;
      width: 50%;
    }


    /*ABOUT*/


    .about-wrapper {
      height: 1000px;
      justify-content: space-between;
      margin-left: -600px;
      padding-top: 100px;
      position: relative;
      top: 0;
      left: 5%;
      width: 1000px;
    }

    .about-section {
      align-items: center;
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      padding: 70px 0;
      width: 100%;
    }

    .aboutFigure {
      height: 250px;
      margin: 0 0 50px 0;
      width: 45%;
    }

    .about-text {
      font-size: 1.125rem;
      width: 45%;
    }

    .bees {
      width: 100%;
    }


    /*CONTACT*/


    .contact-info,
    .sign-up {
      align-items: flex-start;
      height: 300px;
      width: 40%;
    }

    .sign-up {
      padding: 0;
    }

    .contact-address,
    .mailing-list {
      font-size: 1.275rem;
    }

    .mailing-list {
      line-height: 2;
      margin: 0;
      padding: 30px 0;
    }

    input[type='email'] {
      font-size: 1.275rem;
      margin: 50px 0;
    }

    #emailBtn {
      font-size: 1.275rem;
      top: 55px;
      left: 80%;
      width: 70px;
    }

  }

  @media only screen and (min-width: 1800px){
  
    .about {
      transform: translate(50%, -92%);
    }

    .empty {
      transform: translate(50%, 92%);
    }

  }
