/*MAIN*/


.App {
  text-align: center;
}

.bee-icon {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%
}

#bee-container { 
  margin: 0;
  padding: 0 30px 30px 0;
  width: 35%; 
  z-index: 9;
}

@keyframes flutter {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: rotate(-45deg) translateX(-330px) translateY(180px);
  }
}

@-webkit-keyframes flutter {
  from {
    -webkit-transform: translateX(0) translateY(0);
  }
  to {
    -webkit-transform: rotate(-45deg) translateX(-330px) translateY(180px);
  }
}

#leftwing_1_,
#rightwing  {
  animation: flutter 0.07s infinite alternate;
  -webkit-animation: flutter 0.07s infinite alternate;
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@-webkit-keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

#head,
#eye,
#upperbody,
#abdomen {
  animation: float 0.7s infinite alternate;
  -webkit-animation: float 0.7s infinite alternate;
}

@keyframes wobble {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(-10px) translateY(-10px);
  }
}

@-webkit-keyframes wobble {
  from {
    -webkit-transform: translateX(0) translateY(0);
  }
  to {
    -webkit-transform: translateX(-10px) translateY(-10px);
  }
}

#frontleg,
#middleleg,
#backleg,
#leftantenna {
  animation: wobble 0.7s infinite alternate;
  -webkit-animation: wobble 0.7s infinite alternate;
}

@keyframes wobbleright {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: rotate(5deg) translateX(20px) translateY(-30px);
  }
}

@-webkit-keyframes wobbleright {
  from {
    -webkit-transform: translateX(0) translateY(0);
  }
  to {
    -webkit-transform: rotate(5deg) translateX(20px) translateY(-30px);
  }
}

#rightantenna {
  animation: wobbleright 0.7s infinite alternate;
  -webkit-animation: wobbleright 0.7s infinite alternate;
}

.hive {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: -10px;
  padding-bottom: 50px;
}

.comb-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30%;
}

.nav-comb,
.transition {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30%;
}

.nav-comb .comb-container,
.transition .comb-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.row {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-top: -20px;
  width: 100%;
}

.middle-hive {
  margin-left: -30%;
}

svg {
  width: 100%;
  height: 100%;
}

polygon {
  fill: none;
  stroke: #fbb03b;
  stroke-width: 10;
  stroke-miterlimit: 10;
}

@keyframes honey {
  from {
    transform: translate(300px, 300px) scale(0);
  }
  to {
    transform: translate(0, 0) scale(1) ;
  }
}

.honey {
  stroke: transparent;
}

.comb-fill {
  fill: url(#honey-fill) !important;
  animation: honey 1s 1 linear;
  animation-timing-function: cubic-bezier(.2, .4, .1, .4);
}

@keyframes aboutComb {
  from {
    transform: translate(50%, -82%);
  }
  to {
    transform: translate(0, 0);
  }
}

.about {
  transform: translate(50%, -82%);
}

.about-active {
  animation: aboutComb 1s 1 linear forwards;
}

@keyframes merchComb {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.merch {
  transform: translateX(-100%);
}

.merch-active {
  animation: merchComb 1s 1 linear forwards;
}

@keyframes emptyComb {
  from {
    transform: translate(50%, 82%);
  }
  to {
    transform: translate(0, 0);
  }
}

.empty {
  transform: translate(50%, 82%);
}

.empty-active {
  animation: emptyComb 1s 1 linear forwards;
}

.selected {
  color: #ffffff !important;
}

.nav-comb {
  position: relative;
}

a.nav-link {
  color: #1a1a1a;
  font-size: 1.5rem;
  font-weight: 700;
  height: 100%;
  letter-spacing: 1px;
  margin: 0;
  padding-top: 35%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.fade-enter {
  height: 0px;
  opacity: 0;
}

.fade-enter.fade-enter-active {
  height: 100%;
  opacity: 1;
  transition: height 500ms 0ms ease-in, opacity 500ms ease-in-out;
}

.fade-exit {
  height: 100%;
  opacity: 1;
}

.fade-exit.fade-exit-active {
  height: 0px;
  opacity: 0;
  transition: height 500ms 500ms ease-in, opacity 500ms ease-in-out;
}

.content {
  width: 80%;
}

.content-wrapper,
.about-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 60px 0 60px 0;
}

.content-nested {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding-top: 100px;
  text-align: center;
}

.sideNavHide {
  display: none;
}

.sideNav {
  display: none;
}


/*ORDER*/


nav {
  width: 100%;
}

a.order-link {
  color: #fbb03b;
  display: none;
  font-family: 'Tangerine', cursive;
  font-size: 2.25rem;
  font-weight: 700;
  height: 40%;
  letter-spacing: 1px;
  margin: 0;
  padding-top: 30%;
  position: absolute;
  top: 0;
  left: 25%;
  text-align: center;
  text-decoration: none;
  width: 50%;
}

.show-orderlink {
  display: block !important;
}

.underlined {
  border-bottom: 1px solid #fbb03b;
}

.itemFigure {
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.shirtsFigure {
  height: 300px;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.itemImage {
  width: 100%;
}

.order-data {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
}

.selectionBox {
  margin: 50px 0;
  width: 100%;
}

.option {
  font-size: 1rem;
  width: 50%;
}

.quantity {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.quantity-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.quantity-shirts {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.quantityBtn {
  background-color: #fbb03b;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 2px rgba(0,0,0,0.3);
  color: #ffffff;
  font-size: 1.5rem;
  height: 30px;
  width: 30px;
  padding: 0;
}

#addBtn {
  background-color: #fbb03b;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px rgba(0,0,0,0.3);
  color: #ffffff;
  font-size: 1.5rem;
  height: 50px;
  letter-spacing: 1.5px;
  margin: 30px 0 50px 0;
  width: 100%;
}

.accredit {
  color: #CCCCCC;
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
}

.accredit a {
  color: #B3B3B3;
  text-decoration: none;
}

.honeypotFigure {
  margin: 0 0 10px 30px;
  width: 10%;
}

.honeypotImage {
  display: none;
  width: 100%;
}

.honeypotActive {
  display: block !important;
}

.merch-nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 125px;
  width: 100%;
}

.merch-nav li {
  height: 100%;
  width: 30%;
}

.merch-nav li a {
  text-decoration: none;
}

.link-text {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin: 0;
  padding-top: 50%;
}

.link-active {
  color: #ffffff !important;
  filter: grayscale(0%) !important;
  margin: 0;
  text-shadow: 2px 2px 12px #000000;
}

.shirts-link {
  background-image: url('./components/img/womens-goodhives.png');
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  color: transparent;
  display: block;
  filter: grayscale(90%);
  height: 100%;
  text-align: center;
  width: 100%;
}

.mugs-link {
  background-image: url('./components/img/tea.png');
  background-size: cover;
  background-position: right;
  border-radius: 12px;
  color: transparent;
  display: block;
  filter: grayscale(90%);
  height: 100%;
  text-align: center;
  width: 100%;
}


/*ABOUT*/


.aboutFigure {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 210px;
  margin: 30px 0;
  overflow: hidden;
  padding-right: 0;
  width: 100%;
}

.about-photo {
  width: 100%;
}

.title-first {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
}

.title-second {
  color: #fbb03b;
  font-family: 'Tangerine', cursive;
  font-size: 1.825rem;
  line-height: 1;
  padding: 0 5px;
}

.about-text {
  letter-spacing: 1px;
  line-height: 2;
}


/*CONTACT*/


.contact-info,
.sign-up {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}

.social-network {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.social-media {
  color: #1a1a1a;
}

.email-container {
  position: relative;
  width: 100%;
}

input[type = 'email'] {
  border: 1px solid #1a1a1a;
  height: 40px;
  width: 100%;
}

#emailBtn {
  background-color: #fbb03b;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px rgba(0,0,0,0.3);
  color: #ffffff;
  height: 30px;
  letter-spacing: 3px;
  position: absolute;
  top: 7px;
  left: 80%;
  width: 50px;
}

.contact-address {
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 2;
  padding: 30px 0;
  text-align: center;
}

.contact-address a {
  color: #1a1a1a;
  text-decoration: none;
}

.social-network {
  padding: 20px 0 40px 0;
}

.mailing-list {
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 20px 0;
}


  @media only screen and (min-width: 650px) {


    /*HIVE*/

    a.nav-link {
      font-size: 2.5rem;
    }

    .about {
      transform: translate(50%, -90%);
    }

    .merch {
      transform: translateX(-100%);
    }

    .empty {
      transform: translate(50%, 90%);
    }


    /*ORDER*/


    a.order-link {
      font-size: 3.5rem;
    }

    .merch-nav {
      height: 100px;
    }

    .merch-nav li {
      width: 30%;
    }

    .link-text {
      font-size: 2rem;
      padding-top: 20%;
    }

    .itemFigure {
      width: 45%;
    }

    .order-data {
      width: 60%;
    }

    .shirtsFigure {
      height: 350px;
      width: 60%;
    }


    /*ABOUT*/


    .about-wrapper {
      height: 1600px;
    }

    .about-text {
      font-size: 1.25rem;
    }

    .aboutFigure {
      height: 210px;
      width: 80%;
    }

    .title-first {
      font-size: 1.875rem; 
    }

    .title-second {
      font-size: 2.25rem;
    }


    /*CONTACT*/


    .contact-info,
    .sign-up {
      width: 80%;
    }

    .sign-up {
      padding: 50px 0 25px 0;
    }

    .contact-info h1,
    .sign-up h1 {
      margin: 0;
    }

    .social-network {}

    .contact-address,
    .mailing-list {
      width: 100%;
    }

    .mailing-list {
      font-size: 1.5rem;
      text-align: center;
    }

    #emailBtn {
      left: 85%;
    }

  }

  @media only screen and (min-width: 768px) {


    /*HIVE*/

    #bee-container {
      margin-top: -50px;
      width: 25%; 
    }

    .hive {
      margin: -50px 0 0 120px;
    }

    .content {
      margin-left: -120px;
    }

    .content-wrapper {
      justify-content: space-between;
      width: 100%;
    }


    /*ORDER*/


    .content-nested {
      justify-content: space-between;
      flex-flow: row nowrap;
      padding: 100px 0 25px 0;
    }

    .order-data {
      width: 45%;
    }

    .selectionBox {
      margin: 20px 0 20px 0;
    }

    .shirtsFigure {
      height: 250px;
      width: 40%;
    }

    .honeypotFigure {
      margin: 0 0 10px 50px;
    }

    #addBtn {
      font-size: 1.5rem;
      height: 50px;
      margin: 30px 0 15px 0; 
    }

    .accredit {
      font-size: 0.25rem;
    }


    /*CONTACT*/


    .contact-info,
    .sign-up {
      width: 100%;
    }

    .social-network {
      padding: 50px 0;
    }

    input[type ='email'] {
      height: 55px;
    }

    #emailBtn {
      font-size: 1.875rem;
      height: 45px;
      left: 80%;
      width: 75px;
    }

  }

  @media only screen and (min-width: 1200px) {


   /*HIVE*/


    main {
      width: 50%;
    }

    #content-container {
      width: 90%;
    }

    #bee-container {
      margin-top: 0;
      padding: 0 30px 0 0;
      width: 20%;
    }

    a.nav-link {
      font-size: 1.8rem;
    }

    .about {
      transform: translate(50%, -87%);
    }

    .empty {
      transform: translate(50%, 87%);
    }

    .sideNavHide {
      display: none;
    }

    .sideNav {
      display: block;
    }

    .sideNav ul {
      align-items: flex-start;
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      height: 400px;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 475px;
      left: 20px;
      list-style: none; 
      width: 20px;
    }

    .sideLink {
      align-items: center;
      display: flex;
      justify-content: center;
      color: #1a1a1a;
      width: 20px;
    }


    /*ORDER*/


    a.order-link {
      font-size: 2.5rem;
    }

    .content-wrapper {
      justify-content: space-around;
      padding: 120px 0;
      position: relative;
      top: 0;
      left: -600px;
      width: 1000px;
    }

    .itemFigure {
      width: 25%;
    }

    .honeypotFigure {
      margin: 10px 0px 10px 30px;
      width: 7%;
    }

    .merch-nav {
      height: 100px;
    }

    .merch-nav li {
      width: 15%;
    }

    .link-text {
      padding-top: 18%;
    }

    .order-data {
      width: 30%;
    }

    .selectionBox {
      font-size: 1rem;
      margin: 50px 0;
    }

    #addBtn {
      font-size: 1.5rem;
      height: 50px;
      margin: 50px 0 0 0;
    }

    .accredit {
      font-size: 0.5rem;
      padding-top: 50px; 
      width: 100%;
    }

    .content-nested {
      align-items: center;
      justify-content: space-around;
      padding-top: 100px;
    }

    .content-nested nav {
      width: 20px;
    }

    .shirtsFigure {
      height: 370px;
      padding: 0;
      width: 35%;
    }

    .quantity-shirts {
      font-size: 1rem;
      width: 250px;
    }

    .mugFigure {
      height: 270px;
      width: 50%;
    }


    /*ABOUT*/


    .about-wrapper {
      height: 1000px;
      justify-content: space-between;
      margin-left: -600px;
      padding-top: 100px;
      position: relative;
      top: 0;
      left: 5%;
      width: 1000px;
    }

    .about-wrapper .sideNav ul {
      top: 45%;
      left: -10%;
    }

    .aboutFigure {
      height: 250px;
      margin: 0 0 50px 0;
      width: 45%;
    }

    .about-text {
      font-size: 1.125rem;
      width: 50%;
    }

    .bees {
      width: 100%;
    }


    /*CONTACT*/


    .contact-info,
    .sign-up {
      align-items: flex-start;
      height: 300px;
      width: 40%;
    }

    .sign-up {
      padding: 0;
    }

    .contact-address,
    .mailing-list {
      font-size: 1.275rem;
    }

    .mailing-list {
      line-height: 2;
      margin: 0;
      padding: 30px 0;
    }

    input[type='email'] {
      font-size: 1.275rem;
      margin: 50px 0;
    }

    #emailBtn {
      font-size: 1.275rem;
      top: 55px;
      left: 80%;
      width: 70px;
    }

  }

  @media only screen and (min-width: 1800px){
  
    .about {
      transform: translate(50%, -92%);
    }

    .empty {
      transform: translate(50%, 92%);
    }

  }
